@import "./variables";

@import "./global";
@import "./styles/sossialLinks.scss";

@import "./styles/header";
@import "./styles/hero";
@import "./styles/about";
@import "./styles/portfolio";
@import "./styles/contacts";
@import "./styles/footer";
@import "./styles/modal";
