@import "../variables";

// .progectSection {
// }

.progects__list {
  width: 100%;
}

.progects__item {
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
  //   background-color: red;
  max-width: 400px;
  @media (min-width: 600px) {
    max-width: 1440px;
    height: 300px;
  }

  & article {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10vw;
    align-items: center;
    justify-content: space-between;

    margin-left: auto;
    margin-right: auto;
    border: 2px solid red;
    @media (min-width: 600px) {
      margin-left: 0;
      margin-right: 0;

      flex-direction: row;
      gap: 3vw;
    }
  }
}

.progects__imgWrapper {
  //   position: relative;
  height: 300px;
  width: 100%;

  background-color: azure;
  @media (min-width: 600px) {
    height: 100%;
    flex: 1;
  }
  & img {
    // position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.progects__descriptionWrapper {
  height: 100%;
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: 600px) {
    height: 100%;
    flex: 2;
  }
}

// .progects__links {
//   & a {
//     margin-right: 20px;
//   }
// }