@import "../variables";

.sossialLinks {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  gap: 20px;    
  margin-left: auto;    
  margin-right: 0;
  
  & li {
    width: fit-content;
    height: fit-content;

    & a {
      width: clamp(45px, 5vw, 60px);
      height: clamp(45px, 5vw, 60px);
      position: relative;
    }

    & img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &:hover,
    &:focus {
      filter: brightness(0) saturate(100%) invert(74%) sepia(77%)
        saturate(4002%) hue-rotate(4deg) brightness(108%) contrast(108%);
    }
  }

  @media (orientation: landscape) {
    margin-right: 0;
    margin-left: auto;
    gap: 20px;
  }
}
